@use 'variables';
.cast {
  color: variables.$colorWhite;
  
  .container {
    margin-top: 0 !important; 
    .nav-link{
        color:  variables.$colorWhite;
    }
  }
  section {
    margin-top: 0 !important; 
  }
  
}
