@use 'variables';
@use 'reset';
@use 'header';
@use './components/hero';
@use 'about';
@use 'cast';
@use 'accordion';
@use 'footer';

body{
    background-color: variables.$hoverPurple !important;
}

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
}
@mixin title($fontSize: 40px){
    @include text($fontSize);
}

.title {
    @include title;    
    font-family: "Cinzel", serif;
    @media(max-width: 768px){
        @include title(24px);
    }
}

.text--big {
    @include text(18px);
    @media(max-width: 768px){
        @include text(15px);
    }
}
.text {
    @include text;
    @media(max-width: 768px){
        @include text(14px);
    }
}
.text--small {
    @include text(12px);
    @media(max-width: 768px){
        @include text(11px);
    }
}

.title--big{
    @include title(44px);
    @media(max-width: 768px){
        @include title(26px);
    }
}

@media(max-width: 768px){
    h2 {
      margin-top: 40px;
    }
  }